<!DOCTYPE html>
<html lang="it" class="h-100">

<head>
    <!-- Common imports in pages -->

    <title>Pagina dei Risultati</title>
</head>

<body class="d-flex flex-column h-100">
    <!-- Fixed navbar -->

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5>Lista dei risultati</h5>
                </div>
                <div class="card-body">
                    <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/azienda/insert']">Inserisci</button>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Ragione Sociale</th>
                                    <th>Partita Iva</th>
                                    <th>Indirizzo</th>
                                    <th>Commesse</th>
                                    <th>Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let aziendaItem of listaAziende">
                                    <td>{{ aziendaItem.ragioneSociale}}</td>
                                    <td>{{ aziendaItem.partitaIva}}</td>
                                    <td>{{ aziendaItem.indirizzo}}</td>
                                    <td>{{ aziendaItem.commesse}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/azienda/detail',aziendaItem.id]">
                                            Visualizza
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary" [routerLink]="['/azienda/edit',aziendaItem.id]">
                                            Modifica
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger" [routerLink]="['/azienda/delete',aziendaItem.id]">
                                            Elimina
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>

            <!-- end container -->
        </div>
        <br />
    </main>

    <!-- Footer -->
</body>

</html>