<main class="flex-shrink-0">
    <div class="container">
      
      <div class='card'>
          <div class='card-header'>
              Visualizza dettaglio
            </div>
            
          <div class='card-body'>
              <dl class="row">
                  <dt class="col-sm-3 text-right">Id:</dt>
                  <dd class="col-sm-9">{{aziendaDetail?.id}}</dd>
                </dl>
                
                <dl class="row">
                    <dt class="col-sm-3 text-right">Ragione sociale:</dt>
                    <dd class="col-sm-9">{{aziendaDetail?.ragioneSociale}}</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-3 text-right">Partita Iva:</dt>
                    <dd class="col-sm-9">{{aziendaDetail?.partitaIva}}</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-3 text-right">Indirizzo:</dt>
                    <dd class="col-sm-9">{{aziendaDetail?.indirizzo}}</dd>
                  </dl>

                  <!-- <dl class="row">
                    <dt class="col-sm-3 text-right">Commesse:</dt>
                    <dd class="col-sm-9">
                      <ng-container *ngFor="let commessa of aziendaDetail?.commesse | keyvalue">
                        {{ commessa.key }}: {{ commessa.value }}
                      </ng-container>
                    </dd>
                  </dl> -->
                  


                       
                
              <button (click)="onBack()" class="btn btn-primary btn-sm"  > Torna alla lista</button>
             
              </div>
              
          <!-- end card body -->
          </div>
          
      <!-- end card -->
      </div>  
  
</main>